/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(214, 248, 241);
} */

body {
    background-color: rgb(240, 255, 240);
    overflow: hidden;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.section h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 4em;
    margin: 20px auto;
    
    /* color:rgb(255, 255, 255);
    background-color: rgb(122, 122, 122);
    padding: 12px 20px;
    border: none;
    border-radius: 10px; */
}

.container {
    width: 600px;
    height: 600px;
    z-index: 100;
    display: grid;
    /* background-color: rgb(240, 255, 240); */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
}

span {
    position: absolute;
    animation: animate 5s;
}

@keyframes animate {
    0% {
        transform: translateY(0%) rotate(0deg) scale(0);
        opacity: 0;
        transition: 0.15s ease;
    }
    30% {
        opacity: 0.6;
        filter: hue-rotate(100deg);
        transition: 0.15s ease;
    }
    80% {
        opacity: 1;
        transition: 0.15s ease;
    }
    100% {
        transform: translateY(-400%) rotate(360deg) scale(1);
        filter: hue-rotate(360deg);
        opacity: 0;
        transition: 0.15s ease;
    }
}

.buttons {
    /* position: absolute; */
    width: 600px;
    height: auto;
    text-align: center;
}

.btn {
    margin: 20px 12px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color:rgb(255, 255, 255);
    background-color: rgb(122, 122, 122);
    transition: 0.15s ease;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.15s ease;
}

.btn:active {
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    transition: 0.15s ease;
}